* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-image: linear-gradient(rgba(77, 77, 57, 0.5), rgba(123, 228, 188, 0.5)), url(./assets/main\ pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    /* padding: 0 35px; */
}

.navbar img {
    cursor: pointer;
}

.navbar li {
    display: inline-block;
    margin: 0 18px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar li a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}

.content h1 {
    font-size: 55px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 12px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;

}

.btn__contact,
.btn__formoreinfo{
    padding: 8px 0px;
    text-align: center;
    font-size: 18px;
    margin: 20px 10px;
    font-weight: solid;
    max-width: 200px;
    min-width: 250px;
    border-radius: 50px;
    border: 3px solid cyan;
    cursor: pointer;
}

.btn__contact:hover,
.btn__formoreinfo:hover {
    background-color: cyan;
    transition: ease-in 0.5s;
    color: #000;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.social-list {
    position: fixed;
    right: 0;
    top: 8px;
    padding: 16px 20px;
}

.social-list a{
    font-size: 18px;
    padding: 8px 12px;
    color:aqua;
    background-color: beige;
    border-radius: 50px;
}

.social-list a:hover{
    background-color: aqua;
    color: #fff;
}

.footer__social-list {
    display: none;
    font-size: 22px;
    margin-bottom: 8px;
    
}

.footer__social-list a{
    color:aqua;
    background-color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    margin-left: 3px;
}

.footer__social-list a:hover {
    background-color: aqua;
    color: #000;
}

.copy__right {
    color: #fff;
}

.menu-mobile {
    display: none;
    font-size: 30px;
    right: 0;
    padding: 12px 30px;
    position: absolute;
}

.menu-mobile:hover {
    background-color: rgba(123, 228, 188, 0.5);
    border-radius: 50px;
}

